@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .section__pic-container:hover {
    transform: scale(1.4);
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  /* No gap between profile and about */
  /* #profile {
    margin-bottom: 0;
  }
  #about {
    padding:0;
  } */
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    justify-content: center;
    margin: 0 auto 2rem;
  }

  /* Making the about picture at center */
  #about .section__pic-container {
    position: relative;
    top: 5px;
  }

  /* For Hover inlargement of Pics */
  .section__pic-container:hover {
    transform: scale(1.3);
  }
  #about .section__pic-container:hover {
    transform: scale(1.15);
  }

  .about-containers {
    margin-top: 0;
  }
  .btns {
    display: none;
  }
}

/* For Contact to MactchUp with the experience Boxes */
/* @media screen and (max-width: 942px) {
  .contact-info-upper-container{
    flex-wrap: wrap;
  }
} */

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  #about{
    padding-top: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
    width:120px;
    justify-content: initial;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.8rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  /* For Hover inlargement of Pics */
  .section__pic-container:hover {
    transform: none;
  }
  #about .section__pic-container:hover {
    transform: none;
  }
}

/* Scroll Animation on Page scrolling only once*/
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}