/* General Styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
}

/* Transition */

 a, .btn {
    transition: all 300ms ease;
 }

 /* Desktop Navigation Bar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    align-content: center;
    justify-content: center;
}

#desktop-nav div {
    align-items: center;
    width: 100%;

}

.nav-links {
    display:flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

 a {
    color: black;
    text-decoration: none;
    text-decoration-color: WHITE;
 }

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}

.logo{
    font-size: 2rem;
    display:flex;
    justify-content: center;
}

.logo:hover {
    cursor: default;
}

/* Hamburger Menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: default;
}
